:root {
    --primary-color: rgb(255, 105, 180);
    --primary-color-rgb: 255, 105, 180;
    --secondary-color: rgb(50, 45, 139);
    --secondary-color-rgb: 50, 45, 139;
    --primary-accent: rgb(255, 192, 203);
    --primary-accent-rgb: 255, 192, 203;
    --text-secondary: rgb(102, 102, 102);
    --text-primary: #000;
    --primary-background: rgb(255, 255, 255);
    --secondary-background: rgb(250, 250, 250);
}

[data-theme="dark"] {
    --primary-color: rgb(32, 29, 89);
    --primary-color-rgb: 32, 29, 89;
    --secondary-color: rgb(255, 105, 180);
    --secondary-color-rgb: 255, 105, 180;
    --primary-accent: rgb(159, 105, 114);
    --primary-accent-rgb: 159, 105, 114;
    --text-secondary: rgb(102, 102, 102);
    --text-primary: #fff;
    --primary-background: rgb(10, 10, 10);
    --secondary-background: rgb(30, 30, 30);
}