<!DOCTYPE html>
<link rel="stylesheet" href="/assets/css/style.css">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
</head>
<body>
  <main>
    <div class="page-header">
      <div class="title-container">
        <div class="links-container">
          <a href="https://github.com/alinagarib" target="_blank" rel="noopener noreferrer">
            <img src="/assets/images/github-mark/github-mark-white.png" alt="github">
          </a>
          <a href="https://www.linkedin.com/in/alina-garib/" target="_blank" rel="noopener noreferrer">
            <img src="/assets/images/in-logo/InBug-White.png" alt="linkedin">
          </a>
        </div>
      <h1>
          <img src="/assets/images/butterflies-red.gif" alt="butterflies" width="50" margin-top="20px">
          {{ page.title }}
          <img src="/assets/images/butterflies-red.gif" alt="butterflies" width="50" margin-top="20px">
      </h1>
      <div class="navbar-container">
        <div class="nyan-cat">
          <img src="/assets/images/nyan-cat.gif" alt="nyan cat">
        </div>
          <nav>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/wikirace/">WikiRace</a></li>
              <li><a href="/spotify/">Spotify</a></li>
            </ul>
          </nav>
      </div>
    </div>
</div>
    {{ content }}
  </main>
  <footer>
    <p>&copy; 2025 Alina's WorldWideWeb</p>
  </footer>
</body>
</html>