<!DOCTYPE html>
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/css/colors.css">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="icon" type="image/gif" href="/assets/images/nyan-cat.gif">
  <link rel="apple-touch-icon" href="/assets/images/nyan-cat.gif">
</head>
<body>
  <main>
    <div class="page-header">
      <div class="hidden-title-container">
        <div class="links-container-right">
          <a id="theme-toggle">
            <img src="/assets/images/dark-light-mode/dark-light.svg" alt="Switch Mode">
          </a>
      </div>
      <h1>
          <img src="/assets/images/butterflies-red.gif" alt="butterflies" width="50" margin-top="20px">
          {{ page.title }}
          <img src="/assets/images/butterflies-red.gif" alt="butterflies" width="50" margin-top="20px">
      </h1>
    </div>
</div>
    {{ content }}
  </main>
  <footer>
    <p>&copy; 2026 Alina's WorldWideWeb</p>
  </footer>
</body>
</html>
<script src="/assets/js/dark-mode-toggle.js"></script>